<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>João Marcos</h2>
            <h4>joaomcnasc@gmail.com</h4>
        </div>
        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHFcz02J7QIgQ/profile-displayphoto-shrink_800_800/0/1565196753281?e=1626307200&v=beta&t=Mzsz-UFVK8r-st9cQAB2BkKkVG4-2qIwERbcQEZvm18"
            alt="João Marcos">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Páginas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Publicações</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLInk="/articles">Artigos</a>

    <mat-divider></mat-divider>
    
    <h2 matSubheader>Ferramentas</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        Contatos
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>
        Contatos de consumidores
    </a>


</mat-nav-list>